.gomp-map {
    font: 12px/20px "Noto Sans TC", Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
}

.gomp-map:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.gomp-canary {
    background-color: salmon;
}

.gomp-canvas-container.gomp-interactive,
.gomp-ctrl-group > button.gomp-ctrl-compass {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gomp-canvas-container.gomp-interactive.gomp-track-pointer {
    cursor: pointer;
}

.gomp-canvas-container.gomp-interactive:active,
.gomp-ctrl-group > button.gomp-ctrl-compass:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.gomp-canvas-container.gomp-touch-zoom-rotate,
.gomp-canvas-container.gomp-touch-zoom-rotate .gomp-canvas {
    touch-action: pan-x pan-y;
}

.gomp-canvas-container.gomp-touch-drag-pan,
.gomp-canvas-container.gomp-touch-drag-pan .gomp-canvas {
    touch-action: pinch-zoom;
}

.gomp-canvas-container.gomp-touch-zoom-rotate.gomp-touch-drag-pan,
.gomp-canvas-container.gomp-touch-zoom-rotate.gomp-touch-drag-pan .gomp-canvas {
    touch-action: none;
}

.gomp-ctrl-top-left,
.gomp-ctrl-top-right,
.gomp-ctrl-bottom-left,
.gomp-ctrl-bottom-right { position: absolute; pointer-events: none; z-index: 2; }
.gomp-ctrl-top-left     { top: 0; left: 0; }
.gomp-ctrl-top-right    { top: 0; right: 0; }
.gomp-ctrl-bottom-left  { bottom: 0; left: 0; }
.gomp-ctrl-bottom-right { right: 0; bottom: 0; }

.gomp-ctrl {
    clear: both;
    pointer-events: auto;

    /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
    transform: translate(0, 0);
}
.gomp-ctrl-top-left .gomp-ctrl     { margin: 10px 0 0 10px; float: left; }
.gomp-ctrl-top-right .gomp-ctrl    { margin: 10px 10px 0 0; float: right; }
.gomp-ctrl-bottom-left .gomp-ctrl  { margin: 0 0 10px 10px; float: left; }
.gomp-ctrl-bottom-right .gomp-ctrl { margin: 0 10px 10px 0; float: right; }

.gomp-ctrl-group {
    border-radius: 3px;
    background: #fff;
}

.gomp-ctrl-group:not(:empty) {
    -moz-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,.5);
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,.5);
}

.gomp-ctrl-group > button {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}

.gomp-ctrl-group > button + button {
    border-top: 1px solid #ddd;
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */
.gomp-ctrl > button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.gomp-ctrl-group > button:focus {
    box-shadow: 0 0 2px 2px rgba(0, 150, 255, 1);
}

.gomp-ctrl > button:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.gomp-ctrl-group > button:focus:focus-visible {
    box-shadow: 0 0 2px 2px rgba(0, 150, 255, 1);
}

.gomp-ctrl-group > button:focus:not(:focus-visible) {
    box-shadow: none;
}

.gomp-ctrl-group > button:focus:first-child {
    border-radius: 4px 4px 0 0;
}

.gomp-ctrl-group > button:focus:last-child {
    border-radius: 0 0 4px 4px;
}

.gomp-ctrl-group > button:focus:only-child {
    border-radius: inherit;
}

.gomp-ctrl-icon,
.gomp-ctrl-icon > .gomp-ctrl-compass-arrow {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gomp-ctrl-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    padding: 5px;
}

.gomp-ctrl-icon.gomp-ctrl-icon-disabled {
    opacity: 0.25;
    border-color: #373737;
}

.gomp-ctrl-icon.gomp-ctrl-zoom-out {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Crect x='3' y='9' width='14' height='2'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-zoom-in {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Cpolygon points='18,9 11,9 11,2 9,2 9,9 2,9 2,11 9,11 9,18 11,18 11,11 18,11 '/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Ccircle cx='10' cy='10' r='2'/%3E %3Cpath d='M18,9h-1.079C16.481,5.936,14.064,3.519,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 c0.439,3.064,2.858,5.481,5.92,5.921V18h2v-1.079c3.064-0.439,5.481-2.856,5.921-5.921H18V9z M10,15.5c-3.033,0-5.5-2.468-5.5-5.5 c0-3.033,2.467-5.5,5.5-5.5c3.032,0,5.5,2.467,5.5,5.5C15.5,13.032,13.032,15.5,10,15.5z'/%3E %3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.gomp-ctrl-icon.gomp-ctrl-geolocate:disabled::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23AAAAAA'%3E%3Crect x='9.25' y='1' transform='matrix(0.7068 0.7074 -0.7074 0.7068 10.0066 -4.1423)' width='1.5' height='18'/%3E%3Cpath d='M3.856,13.315l1.109-1.109C4.668,11.53,4.5,10.785,4.5,10c0-3.033,2.467-5.5,5.5-5.5 c0.785,0,1.53,0.168,2.206,0.465l1.108-1.109C12.605,3.474,11.83,3.199,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 C3.199,11.83,3.474,12.606,3.856,13.315z'/%3E%3Cpath d='M16.921,9c-0.119-0.83-0.394-1.606-0.777-2.315l-1.108,1.109C15.332,8.47,15.5,9.215,15.5,10 c0,3.032-2.468,5.5-5.5,5.5c-0.785,0-1.53-0.168-2.206-0.465l-1.109,1.108C7.394,16.527,8.17,16.802,9,16.921V18h2v-1.079 c3.063-0.439,5.481-2.855,5.921-5.921H18V9H16.921z'/%3E%3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate.gomp-ctrl-geolocate-active::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23ef9a03'%3E %3Ccircle cx='10' cy='10' r='2'/%3E %3Cpath d='M18,9h-1.079C16.481,5.936,14.064,3.519,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 c0.439,3.064,2.858,5.481,5.92,5.921V18h2v-1.079c3.064-0.439,5.481-2.856,5.921-5.921H18V9z M10,15.5c-3.033,0-5.5-2.468-5.5-5.5 c0-3.033,2.467-5.5,5.5-5.5c3.032,0,5.5,2.467,5.5,5.5C15.5,13.032,13.032,15.5,10,15.5z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate.gomp-ctrl-geolocate-active-error::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23e00'%3E %3Ccircle cx='10' cy='10' r='2'/%3E %3Cpath d='M18,9h-1.079C16.481,5.936,14.064,3.519,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 c0.439,3.064,2.858,5.481,5.92,5.921V18h2v-1.079c3.064-0.439,5.481-2.856,5.921-5.921H18V9z M10,15.5c-3.033,0-5.5-2.468-5.5-5.5 c0-3.033,2.467-5.5,5.5-5.5c3.032,0,5.5,2.467,5.5,5.5C15.5,13.032,13.032,15.5,10,15.5z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate.gomp-ctrl-geolocate-background::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23ef9a03'%3E %3Cpath d='M18,9h-1.079C16.481,5.936,14.064,3.519,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 c0.439,3.064,2.858,5.481,5.92,5.921V18h2v-1.079c3.064-0.439,5.481-2.856,5.921-5.921H18V9z M10,15.5c-3.033,0-5.5-2.468-5.5-5.5 c0-3.033,2.467-5.5,5.5-5.5c3.032,0,5.5,2.467,5.5,5.5C15.5,13.032,13.032,15.5,10,15.5z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate.gomp-ctrl-geolocate-background-error::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23e00'%3E %3Cpath d='M18,9h-1.079C16.481,5.936,14.064,3.519,11,3.08V2H9v1.08C5.938,3.519,3.519,5.936,3.08,9H2v2h1.08 c0.439,3.064,2.858,5.481,5.92,5.921V18h2v-1.079c3.064-0.439,5.481-2.856,5.921-5.921H18V9z M10,15.5c-3.033,0-5.5-2.468-5.5-5.5 c0-3.033,2.467-5.5,5.5-5.5c3.032,0,5.5,2.467,5.5,5.5C15.5,13.032,13.032,15.5,10,15.5z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-geolocate.gomp-ctrl-geolocate-waiting::before {
    -webkit-animation: gomp-spin 2s infinite linear;
    -moz-animation: gomp-spin 2s infinite linear;
    -o-animation: gomp-spin 2s infinite linear;
    -ms-animation: gomp-spin 2s infinite linear;
    animation: gomp-spin 2s infinite linear;
}

@-webkit-keyframes gomp-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes gomp-spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes gomp-spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
}

@-ms-keyframes gomp-spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

@keyframes gomp-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gomp-ctrl-icon.gomp-ctrl-fullscreen {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill='%233374EB' d='M16.027,5.528L19,8.5v-6C19,1.672,18.328,1,17.5,1h-6l2.973,2.972L10,8.444L5.528,3.972L8.5,1h-6v0C1.671,1,1,1.671,1,2.5v6 l2.972-2.972L8.444,10l-4.472,4.472L1,11.5v6h0C1,18.328,1.671,19,2.5,19h6l-2.972-2.973L10,11.556l4.473,4.472L11.5,19h6 c0.828,0,1.5-0.672,1.5-1.5v-6l-2.973,2.973L11.556,10L16.027,5.528z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-shrink {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Cpath d='M14,8h4.5l-2.472-2.472L20,1.556L18.444,0l-3.972,3.972L12,1.5V6C12,7.104,12.896,8,14,8z'/%3E %3Cpath d='M6,12H1.5l2.472,2.472L0,18.444L1.556,20l3.972-3.973L8,18.5V14C8,12.896,7.104,12,6,12z'/%3E %3Cpath d='M18.5,12H14c-1.104,0-2,0.896-2,2v4.5l2.472-2.472L18.444,20L20,18.444l-3.973-3.972L18.5,12z'/%3E %3Cpath d='M1.556,0L0,1.556l3.972,3.972L1.5,8H6c1.104,0,2-0.896,2-2V1.5L5.528,3.972L1.556,0z'/%3E %3C/svg%3E");
}

.gomp-ctrl-icon.gomp-ctrl-compass > .gomp-ctrl-compass-arrow {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6,10c0,2.5,4,10,4,10s4.001-7.5,4-10c0.001-2.5-4-10-4-10 S6,7.5,6,10z M10,18c0,0-3-6-3-8h6C13,12,10,18,10,18z'/%3E %3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
}

a.gomp-ctrl-logo {
    width: 112px;
    height: 28px;
    margin: 0 0 -3px -3px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
}

a.gomp-ctrl-logo.gomp-compact {
    width: 28px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E %3Cg%3E %3Cpolygon fill='%23F15A24' points='17.133,10.693 6.692,10.693 10.264,3.072 20.702,3.072 '/%3E %3Cpolygon fill='%2300295A' points='18.27,24.928 7.829,24.928 11.398,17.307 21.838,17.307 '/%3E %3Cpolygon fill='%2300295A' points='27.751,3.109 23.385,3.109 18.896,12.48 5.967,12.48 0.249,24.766 4.616,24.766 9.176,15.43 22.104,15.43 '/%3E %3C/g%3E %3C/svg%3E");
}

.gomp-ctrl.gomp-ctrl-attrib {
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.gomp-ctrl-top-left .gomp-ctrl-attrib     { border-bottom-right-radius:5px; }
.gomp-ctrl-top-right .gomp-ctrl-attrib    { border-bottom-left-radius:5px; }
.gomp-ctrl-bottom-left .gomp-ctrl-attrib  { border-top-right-radius:5px; }
.gomp-ctrl-bottom-right .gomp-ctrl-attrib { border-top-left-radius:5px; }

@media screen {
    .gomp-ctrl-attrib.gomp-compact {
        min-height: 20px;
        padding: 0;
        margin: 10px;
        position: relative;
        background-color: #fff;
        border-radius: 3px 12px 12px 3px;
    }

    .gomp-ctrl-attrib.gomp-compact:hover {
        padding: 2px 24px 2px 4px;
        visibility: visible;
        margin-top: 6px;
    }

    .gomp-ctrl-top-left > .gomp-ctrl-attrib.gomp-compact:hover,
    .gomp-ctrl-bottom-left > .gomp-ctrl-attrib.gomp-compact:hover {
        padding: 2px 4px 2px 24px;
        border-radius: 12px 3px 3px 12px;
    }

    .gomp-ctrl-attrib.gomp-compact .gomp-ctrl-attrib-inner {
        display: none;
    }

    .gomp-ctrl-attrib.gomp-compact:hover .gomp-ctrl-attrib-inner {
        display: block;
    }

    .gomp-ctrl-attrib.gomp-compact::after {
        background-color: rgba(255, 255, 255, 0.9);
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath fill='%23000000' fill-rule='evenodd' d='M10,4c-3.314,0-6,2.687-6,6s2.686,6,6,6c3.314,0,6-2.687,6-6S13.314,4,10,4z M11,14H9v-4h2V14z M11,8H9V6h2V8z'/%3E %3C/svg%3E");
        box-sizing: border-box;
        border-radius: 12px;
        content: '';
        cursor: pointer;
        height: 24px;
        opacity:.7;
        position: absolute;
        transition-duration: .2s;
        transition-property: background-color, opacity;
        width: 24px;
    }

    .gomp-ctrl-attrib.gomp-compact:hover::after {
        opacity:1;
    }

    .gomp-ctrl-bottom-right > .gomp-ctrl-attrib.gomp-compact::after {
        bottom: 0;
        right: 0;
    }

    .gomp-ctrl-top-right > .gomp-ctrl-attrib.gomp-compact::after {
        top: 0;
        right: 0;
    }

    .gomp-ctrl-top-left > .gomp-ctrl-attrib.gomp-compact::after {
        top: 0;
        left: 0;
    }

    .gomp-ctrl-bottom-left > .gomp-ctrl-attrib.gomp-compact::after {
        bottom: 0;
        left: 0;
    }
}

.gomp-ctrl-attrib a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.gomp-ctrl-attrib a:hover {
    color: inherit;
    text-decoration: underline;
}

/* stylelint-disable-next-line selector-class-pattern */
.gomp-ctrl-attrib .gomp-improve-map {
    font-weight: bold;
    margin-left: 2px;
}

.gomp-attrib-empty {
    display: none;
}

.gomp-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    border-width: medium 2px 2px;
    border-style: none solid solid;
    border-color: #333;
    padding: 0 5px;
    color: #333;
    box-sizing: border-box;
}

.gomp-ctrl-pitchtoggle-3d {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Cpath d='M9,7V6c0-2.209-1.791-4-4-4H4C1.791,2,0,3.791,0,6h2c0-1.104,0.896-2,2-2h1c1.104,0,2,0.896,2,2v1c0,1.104-0.896,2-2,2H3v2 h2c1.104,0,2,0.896,2,2v1c0,1.104-0.896,2-2,2H4c-1.104,0-2-0.896-2-2H0c0,2.209,1.791,4,4,4h1c2.209,0,4-1.791,4-4v-1 c0-1.201-0.541-2.267-1.38-3C8.459,9.267,9,8.202,9,7z'/%3E %3Cpath d='M16,2h-5v2v12v2h5c2.209,0,4-1.791,4-4V6C20,3.791,18.209,2,16,2z M16,16h-3V4h3c1.104,0,2,0.896,2,2v8 C18,15.104,17.104,16,16,16z'/%3E %3C/svg%3E");
}

.gomp-ctrl-pitchtoggle-2d {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%230473ea'%3E %3Cpath d='M16,2h-5v2v12v2h5c2.209,0,4-1.791,4-4V6C20,3.791,18.209,2,16,2z M16,16h-3V4h3c1.104,0,2,0.896,2,2v8 C18,15.104,17.104,16,16,16z'/%3E %3Cpath d='M4,11h1c2.209,0,4-1.791,4-4V6c0-2.209-1.791-4-4-4H4C1.791,2,0,3.791,0,6h2c0-1.104,0.896-2,2-2h1c1.104,0,2,0.896,2,2v1 c0,1.104-0.896,2-2,2H4c-2.209,0-4,1.791-4,4v5h2h7v-2H2v-3C2,11.896,2.896,11,4,11z'/%3E %3C/svg%3E");
}

.gomp-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    /* will-change: transform; */
    pointer-events: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.gomp-popup-anchor-top,
.gomp-popup-anchor-top-left,
.gomp-popup-anchor-top-right {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.gomp-popup-anchor-bottom,
.gomp-popup-anchor-bottom-left,
.gomp-popup-anchor-bottom-right {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.gomp-popup-anchor-left {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.gomp-popup-anchor-right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.gomp-popup-tip {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    position: relative;
    z-index: 1;
}

.gomp-popup-tip:before {
    border: 9px solid transparent;
    content:"";
    display: block;
    height: 0;
    position: absolute;
    width:0;
}

.gomp-popup-anchor-top .gomp-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-top: none;
    border-bottom-color:rgba(0,0,0,.1);
}

.gomp-popup-anchor-top .gomp-popup-tip:before{
    border-bottom-color: #fff;
    bottom:-10px;
    left:-9px;
}

.gomp-popup-anchor-top-left .gomp-popup-tip {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    border-top: none;
    border-left: none;
    border-bottom-color: rgba(0,0,0,.1);
    left: -1px;
}

.gomp-popup-anchor-top-left .gomp-popup-tip:before{
    border-bottom-color: #fff;
    border-top: none;
    border-left: none;
    bottom:-10px;
    left: 1px;
}

.gomp-popup-anchor-top-right .gomp-popup-tip {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    border-top: none;
    border-right: none;
    border-bottom-color: rgba(0,0,0,.1);
}

.gomp-popup-anchor-top-right .gomp-popup-tip:before{
    border-bottom-color: #fff;
    border-top: none;
    border-right: none;
    bottom:-10px;
    right:0;
}

.gomp-popup-anchor-bottom .gomp-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-bottom: none;
    border-top-color: rgba(0,0,0,.1);
}

.gomp-popup-anchor-bottom .gomp-popup-tip:before{
    border-top-color: #fff;
    top:-11px;
    left:-9px;
}

.gomp-popup-anchor-bottom-left .gomp-popup-tip {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    border-bottom: none;
    border-left: 1px solid rgba(0,0,0,.1);
    border-top-color: rgba(0,0,0,.1);
    left:-1px;
}

.gomp-popup-anchor-bottom-left .gomp-popup-tip:before{
    border-top-color: #fff;
    border-bottom: none;
    border-left: none;
    top:-11px;
    left:0;
}

.gomp-popup-anchor-bottom-right .gomp-popup-tip {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    border-bottom: none;
    border-right: 1px solid rgba(0,0,0,.1);
    border-top-color: rgba(0,0,0,.1);
    right:-1px;
}

.gomp-popup-anchor-bottom-right .gomp-popup-tip:before{
    border-top-color: #fff;
    border-bottom: none;
    border-right: none;
    top:-11px;
    right:0;
}

.gomp-popup-anchor-left .gomp-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-left: none;
    border-right-color: rgba(0,0,0,.1);
}

.gomp-popup-anchor-left .gomp-popup-tip:before{
    border-right-color: #fff;
    top:-9px;
    right:-10px;
}

.gomp-popup-anchor-right .gomp-popup-tip {
    -webkit-align-self: center;
    align-self: center;
    border-right: none;
    border-left-color: rgba(0,0,0,.1);
}

.gomp-popup-anchor-right .gomp-popup-tip:before{
    border-left-color: #fff;
    top:-9px;
    left:-11px;
}

.gomp-popup-close-button {
    background-color: #0473ea;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 2em;
    line-height: calc(2em - 6px);
    padding: 0;
    position: absolute;
    right: -1em;
    text-align: center;
    top: -1em;
    transition:background-color .2s;
    width: 2em;
}

.gomp-popup-close-button:hover {
    background-color: #666;
}

.gomp-popup-content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 10px 15px;
    pointer-events: auto;
}

.gomp-popup-anchor-top-left .gomp-popup-content {
    border-top-left-radius: 0;
}

.gomp-popup-anchor-top-right .gomp-popup-content {
    border-top-right-radius: 0;
}

.gomp-popup-anchor-bottom-left .gomp-popup-content {
    border-bottom-left-radius: 0;
}

.gomp-popup-anchor-bottom-right .gomp-popup-content {
    border-bottom-right-radius: 0;
}

.gomp-popup-track-pointer {
    display: none;
}

.gomp-popup-track-pointer * {
    pointer-events: none;
    user-select: none;
}

.gomp-map:hover .gomp-popup-track-pointer {
    display: flex;
}

.gomp-map:active .gomp-popup-track-pointer {
    display: none;
}

.gomp-marker {
    left: 0;
    line-height: 0; /* [Suncat 20190516] Eliminate the line height of the container for sure that marker position will be correct. */
    position: absolute;
    top: 0;
}

.gomp-user-location-dot {
    background-color: #1da1f2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.gomp-user-location-dot::before {
    background-color: #1da1f2;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: gomp-user-location-dot-pulse 2s infinite;
    -moz-animation: gomp-user-location-dot-pulse 2s infinite;
    -ms-animation: gomp-user-location-dot-pulse 2s infinite;
    animation: gomp-user-location-dot-pulse 2s infinite;
}

.gomp-user-location-dot::after {
    border-radius: 50%;
    border: 2px solid #fff;
    content: '';
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

@-webkit-keyframes gomp-user-location-dot-pulse {
    0%   { -webkit-transform: scale(1); opacity: 1; }
    70%  { -webkit-transform: scale(3); opacity: 0; }
    100% { -webkit-transform: scale(1); opacity: 0; }
}

@-ms-keyframes gomp-user-location-dot-pulse {
    0%   { -ms-transform: scale(1); opacity: 1; }
    70%  { -ms-transform: scale(3); opacity: 0; }
    100% { -ms-transform: scale(1); opacity: 0; }
}

@keyframes gomp-user-location-dot-pulse {
    0%   { transform: scale(1); opacity: 1; }
    70%  { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

.gomp-user-location-dot-stale {
    background-color: #aaa;
}

.gomp-user-location-dot-stale::after {
    display: none;
}

.gomp-crosshair,
.gomp-crosshair .gomp-interactive,
.gomp-crosshair .gomp-interactive:active {
    cursor: crosshair;
}

.gomp-boxzoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #fff;
    border: 2px dotted #202020;
    opacity: 0.5;
}

@media print {
    /* stylelint-disable-next-line selector-class-pattern */
    .gomp-improve-map {
        display: none;
    }
}