$primary-40-color: #7C8589;

$roi-start-fill-color: #7BD7A14D;
$roi-start-border-color: #7BD7A1;
$roi-end-fill-color: #FFDD434D;
$roi-end-border-color: #FFDD43;
$roi-traffic-fill-color: #FF9D824D;
$roi-traffic-border-color: #FF9D82;
$roi-border-width: 2;

$detection-TFA-color: #437FFF;
$detection-VD-color: #DA70FF;
$detection-LPDR-color: #FFDD43;


$checkbox-TFA-color: #437FFF;
$checkbox-VD-color: #FFDD43;
$checkbox-LPDR-color: #437FFF;